

.orders_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(28, 34, 46);
}

.orders_block h1 {
    color: white;
}


.order_grid{
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;


}


.order_item{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(31, 90, 31);
    margin: 10px;
    border-radius: 5rem;
    width: 400px;
    height: 300px;
    color: white;
    padding: 40px;
}